# Leet_code first 25 tasks:

- Rename Columns
- Modify Columns
- Drop Duplicate Rows
- Create a New Column
- Display the First Three Rows

In [40]:
#1. Rename the  columns

In [35]:
import pandas as pd

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:# renaming the  columns
    students = students.rename(
        columns={
            "id": "student_id",
            "first": "first_name",
            "last": "last_name",
            "age": "age_in_years",
        }
    )
    return students

# Example DataFrame
data = {
    "id": [1, 2, 3],
    "first": ["luffy", "zoro", "sanji"],
    "last": ["monkey", "rorona", "vinsmoke"],
    "age": [25, 30, 22],
}

students_df = pd.DataFrame(data)

# Call the renameColumns function
students_df = renameColumns(students_df)

# Display the modified DataFrame
print(students_df)

   student_id first_name last_name  age_in_years
0           1      luffy    monkey            25
1           2       zoro    rorona            30
2           3      sanji  vinsmoke            22

#2. A company intends to give its employees a pay rise.

Write a solution to modify the salary column by multiplying each salary by 2.

The result format is in the following example.

In [36]:
import pandas as pd

# Example DataFrame
data = {
    "employee_id": [1, 2, 3],
    "name": ["luffy", "zoro", "sanji"],
    "salary": [50000, 60000, 70000],
}

employees_df = pd.DataFrame(data)

# Call the modifySalaryColumn function
employees_df = modifySalaryColumn(employees_df)

# Display the modified DataFrame
print(employees_df)

   employee_id   name  salary
0            1  luffy  100000
1            2   zoro  120000
2            3  sanji  140000

#3. Write a solution to remove these duplicate rows and keep only the first occurrence.

The result format is in the following example.

In [37]:
import pandas as pd

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    return customers.drop_duplicates(subset=['email'])

# Example usage:
data = {
    'customer_id': [1, 2, 3, 4, 5, 6],
    'name': ['luffy', 'zoro', 'nami', 'sanji', 'brook', 'chopper'],
    'email': ['luffy@gmail.com', 'zoro@gmail.com', 'nami@gmail.com', 'sanji@gmail.com', 'brook@gmail.com', 'chopper@gmail.com']
}

customers_df = pd.DataFrame(data)

# Call the dropDuplicateEmails function
unique_customers_df = dropDuplicateEmails(customers_df)

# Display the modified DataFrame
print(unique_customers_df)

   customer_id     name              email
0            1    luffy    luffy@gmail.com
1            2     zoro     zoro@gmail.com
2            3     nami     nami@gmail.com
3            4    sanji    sanji@gmail.com
4            5    brook    brook@gmail.com
5            6  chopper  chopper@gmail.com

#4.create a new column
 A company plans to provide its employees with a bonus.

Write a solution to create a new column name bonus that contains the doubled values of the salary column.

The result format is in the following example.

In [38]:
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees['salary'] * 2
    return employees

# Example DataFrame
data = {
    "employee_id": [1, 2, 3],
    "name": ["luffy", "zoro", "sanji"],
    "salary": [50000, 60000, 70000],
}

employees_df = pd.DataFrame(data)

# Call the createBonusColumn function
employees_df = createBonusColumn(employees_df)

# Display the modified DataFrame
print(employees_df)

   employee_id   name  salary   bonus
0            1  luffy   50000  100000
1            2   zoro   60000  120000
2            3  sanji   70000  140000

#5.Write a solution to display the first 3 rows of this DataFrame.

In [39]:
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)

# Example DataFrame
data = {
    "employee_id": [1, 2, 3, 4, 5],
    "name": ["luffy", "Zoro", "sanji", "nami", "chopper"],
    "salary": [50000, 60000, 70000, 80000, 90000],
}

employees_df.head(3)#display first 3 rows

   employee_id   name  salary   bonus
0            1  luffy   50000  100000
1            2   zoro   60000  120000
2            3  sanji   70000  140000